$x: 700px;
.wrapper {
  width: 100%;
  max-width: 100%;
  color: #333333;
  .header {
    display: flex;
    width: 100%;
    .dayOfWeek {
      display: flex;
      flex: 1;
      align-items: center;
      height: 30px;
      padding: 3px 15px;
      border-top: #e5e5e5 1px solid;
    }
  }

  .week {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: ($x - 30px) / 6;
    width: 100%;
  }
  .dayCell {
    display: flex;
    border-top: #e5e5e5 1px solid;
    border-right: 1px solid #e5e5e5;
    padding: 0px 7px;
    flex: 1;
  }

  .dayGround {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    margin-top: 3px;
  }
}
