$color: white;
.main {
  background-color: #326295;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mainText {
    display: flex;
    color: white;
    font-size: 120px;
    transition: 1s;
  }
  
  .mainText:hover {
    letter-spacing: 30px;
  }

  .mainSubText {
    font-size: 16px;
    color: lightgrey;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .mainSubSmallText {
    font-size: 14px;
    color: lightgrey;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
  }
}
