.header {
  display: flex;
  width: 100%;
  align-items: center;
}

.selectViewTypeButtonContainer {
  display: flex;
  margin-right: 40px;
}

.headerButton {
  margin-right: 10px;
  color: #326295;
  background-color: #fff;
  border: 1px double #326295;
  font-weight: bold;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 2px;
  user-select: none;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  text-transform: none;
}

.headerButton:hover {
  color: #fff;
  background-color: #326295;
  cursor: pointer;
}

.selectViewTypeButtonWrapper {
  display: flex;
  align-items: center;
}

.selectViewTypeButton {
  width: 34px;
  height: 34px;
}

.selectViewTypeButtonWrapper :hover {
  cursor: pointer;
}

.createIssueButton {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
}

.createIssueButton:hover {
  background-color: rgb(9, 30, 66, 0.08);
}

.issueWrapper {
  background-color: #ffffff;
  margin-bottom: 5px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  padding: 10px;
//   -webkit-user-drag: none;
//   touch-action: manipulation;
//   user-select: none;
}

.issueWrapper:hover {
  background-color: rgb(9, 30, 66, 0.05);
  color: rgb(23, 43, 77);
  cursor: pointer;
}

.searchOption {
  width: 100px;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #4f5467;
  vertical-align: middle;
  background: #fff url(../public/images/custom-select.png) no-repeat right 0.75rem center;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  background-size: auto;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  text-transform: none;
  margin: 0;
  outline: none;
  align-items: center;
  font: 400 13.3333px Arial;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-size: 13px;
}

.searchInput {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #4f5467;
  font-size: 13px;
  vertical-align: middle;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #4f5467;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  border-radius: 2px;
}

.unselected {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.issue {
  cursor: grab;
  transition: transform 200ms ease 0s;
}

.move_up {
  // background-color: yellowgreen;
  // transform: translate(0, -200px);
  // display: none;
}

.move_down {
  // transform: translate(0, 200px);
}
