.wrapper {
  .header {
    display: flex;
    height: 54px;
    width: 100%;
    border-bottom: 1px double rgb(50, 98, 149);
    .projectNameContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: rgb(50, 98, 149);
      padding: 12px;
      min-width: 200px;
    }
    .tabContainer {
      width: 60%;
    }
    .projectSettingButtonContainer {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex: 1;
      flex-direction: column;

      .projectSettingMenu {
        width: 160px;
        height: 120px;
        top: 125px;
        right: 10px;
        position: fixed;
        background-color: #ffffff;
        border: 1px solid #bbb;
        border-radius: 2px;
        .projectSettingMenuItem {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 33%;
          .menuItemText {
            color: #3e5569;
            font-size: 14px;
          }
        }
        .projectSettingMenuItem:hover {
          cursor: pointer;
          background-color: #f5f6f8;
        }
      }
    }
  }
}
