.wrapper {
  display: flex;
  height: 100%;
  .tabItem {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    background-color: blue;
  }
  .dltkdgo {
    background-color: black;
  }
}