.wrapper {
  display: flex;
  height: 100%;
  .tabItem {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    background-color: #ffffff;
    border: transparent 1px solid;
    color: #326295;
  }
  // .selectedTabItem {
  //   border-bottom: 3px solid #326295
  // }
  .tabItem:hover {
    cursor: pointer;
    border: #d8dde2 1px solid;
  }
}