.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.containerdrag {
  text-align: center;
}

.wip {
  position: absolute;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 10;
  background-color: #eeeeee;
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  width: 100%;
}

.taskheader {
  display: inline-block;
  background-color: skyblue;
  width: 100%;
}

.droppable {
  position: absolute;
  width: 150px;
  height: 100vh;
  right: 0;
  top: 10;
  background-color: #9e9e9e;
  border-left: 1px dotted;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 5px auto;
  line-height: 5em;
}

.issue {
  cursor: grab;
  transition: transform 200ms ease 0s;
}
.grabbing {
  cursor: grabbing;
}

.move_up {
  background-color: yellowgreen;
  transform: translate(0, -60px);
}

.move_down {
  transform: translate(0, 60px);
}
