body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    font: 14px "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}